<main>
    <div class="logo">
        <div class="content" (click)="nzSelectChange({index:0})">
            <img src="./assets/images/葫芦.png">
            <div class="company-team">
                <div class="team">FE</div>
                <div class="company">HULUCODE</div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="tabset">
            <nz-tabset [nzTabBarGutter]="10" [nzSelectedIndex]="nzSelectedIndex" (nzSelectChange)="nzSelectChange($event)">
                <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
                    <ng-template #titleTemplate>
                        <i [ngClass]="tab.icon"></i>{{ tab.name }}
                    </ng-template>
                </nz-tab>
            </nz-tabset>
        </div>
    </div>
    <div class="other">
        <span (click)="joinUs()">加入我们</span>
    </div>
</main>