<main>
  <div class="timeline" #left>
    <div class="container">
      <nz-timeline>
        <ng-container *ngFor="let timeline of _timelines;let i = index">
          <nz-timeline-item nzColor="{{timeline.color}}">
            <div class="timeline-item" (click)="timelineSelect(timeline,i)">
              <p class="title" [style.color]="_selectIndex == i ? '#1890ff':'rgba(0, 0, 0, 0.65)'">{{timeline.title}}</p>
              <div style="font-size: 12px">
                <div>{{timeline.author}}</div>
                <div>{{timeline.time}}</div>
              </div>
            </div>
          </nz-timeline-item>
        </ng-container>
      </nz-timeline>
    </div>
  </div>
  <div class="content">
    <app-markdown [path]="_path"></app-markdown>
  </div>
</main>