<main>
    <div class="logo">
        <div class="content">
            <img src="./home/assets/images/tdlogo2.png">
            <div class="company-team">
                <div class="company">DataApp</div>
                <div class="team">FE</div>
            </div>

        </div>
    </div>
    <div class="nav">
        <div class="tabset">
            <nz-tabset [nzTabBarGutter]="10">
                <nz-tab nzTitle="前端规范"></nz-tab>
                <nz-tab nzTitle="工具&类库"></nz-tab>
                <nz-tab nzTitle="前端&产品"></nz-tab>
                <nz-tab nzTitle="前端&设计"></nz-tab>
                <nz-tab nzTitle="学习分享"></nz-tab>
                <nz-tab nzTitle="日常管理"></nz-tab>
                <nz-tab nzTitle="我们团队"></nz-tab>
                <nz-tab nzTitle="人才招聘"></nz-tab>
            </nz-tabset>
        </div>
    </div>
    <div class="other"></div>
</main>