main{
    width: 100%;
    padding: 10px;
}

.slogan{
    width: 100%;
    font-size: 18px;
    padding: 0 10px 20px 10px;
    margin-top: 20px;
    text-align: center;
}

.container{
    display: flex; 
    flex-flow: column wrap; 
    width: 100%; 
    height: 800px;
}

.container { 
    height: auto; 
} 

@media screen and (min-width: 400px) { 
    .container { height: 1600px; } 
}

@media screen and (min-width: 600px) { 
    .container { height: 1300px; } 
}

@media screen and (min-width: 800px) {
    .container { height: 1100px; } 
}

@media screen and (min-width: 1100px) { 
    .container { height: 900px; } 
}

.content{
    margin:10px;
    width: 180px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.member{
   overflow: hidden;
}

.member .img{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.member .name{
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.intro{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: calc(~"-100%");
    transition: all .2s ease-in-out .2s;
}

.intro .text{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}

.intro .text div{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);
    word-wrap: break-word; 
    word-break: normal; 
    line-height: 200%;
    text-align: center;
}

.content:hover .intro{
    transform:translateY(calc(~"-100%"));
}
