<main>
  <div class="slogan">We are a Team , Everything is nothing .
    <button nz-button nzType="primary" [nzSize]="'small'" (click)="teamBuilding()">团队建设</button>
  </div>
  <div class="container">
    <ng-container *ngFor="let member of _members">
      <div class="content">
        <div class="member">
          <img class="img" src="{{member.img}}" (load)="imgLoad()">
          <div class="name">{{member.name}}</div>
        </div>
        <div class="intro">
          <div class="text">
            <div>{{member.intro}}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</main>